@model WebUI.DTOs.ShiftBlockDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishNextDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishNextDay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
